.footer {
    width: 318px;
    margin-bottom: 60px;
}

.footer__copy {
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    padding-top: 67px;
}

@media screen and (max-width:320px) {
    .footer {
        width: 100%;
    }
}