.header{
    max-width: 880px;
    height: 74px;
    margin-top: 45px;
    margin-left: 200px;
    margin-right: 200px;

}
.header__logo {
    width: 173px;
    height: 33px;
    margin-top: 45px;
    margin-bottom: 37px;
}

.header__divider {
    display: flex;
    gap: 40px;
    border: solid 1px #545454;
    opacity: 70%;
}

@media screen and (max-width:320px) {
    .header {
        margin: 28px 0;
    }
    .header__logo {
        width: 126px;
        height: 24px;
        margin: auto;
    }
}