.header {
  max-width: 880px;
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  margin: 0;
  padding-bottom: 41px;
}

@media screen and (max-width: 890px) {
  .header {
    max-width: 780px;
  }
}

@media screen and (max-width: 620px) {
  .header__logo {
    width: auto;
    margin: 0;
    height: 50px;
    padding-left: 27px;
  }
}
