.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
  z-index: 999;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.modal__close {
  background-image: url(../images/closeicon.svg);
  border: none;
  background-color: transparent;
  position: absolute;
  top: -35px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  font-family: Inter, Arial, sans-serif;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 54px 0 0;
  gap: 29.74px;
  border-radius: 1px;
  max-width: 358px;
}

.modal__form-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding-bottom: 13.26px;
}

.modal__button {
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  height: 50.15px;
  min-width: 358px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
}

.modal__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .modal {
    margin: 0 auto;
    padding: 0;
  }

  .modal__container {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px;
  }

  .modal__close {
    right: 0;
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    max-width: 238px;
    min-height: 22px;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
  }

  .modal__form {
    max-width: 238px;
    min-height: 27px;
    padding: 75px 0 0;
    margin: 0;
  }
  .modal__button {
    min-width: 238px;
    min-height: 48px;
    font-size: 14px;
  }
}
