.page {
    background-color: #000;
    color: #FFF;
    font-family: "Inter", Arial, sans-serif;
}

.page__wraper {
    color: #fff;
    font-family: "Inter", Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column nowrap;
}

.page__section {
    position: relative;
    width: 100%;
    max-width: 880px;
    margin: 0, auto;
    padding: 0;
}

.page__content {
    grid-area: content;
    margin-left: 200px;
    margin-right: 200px;
}

@media screen and (max-width: 320px) {
    .page__content {
        padding: 0;
    }
}