.page {
    background-color: #000;
    color: #545454;
    font-family: "Inter", Arial, sans-serif;
}

.page__wraper {
    color: #fff;
    font-family: "Inter", Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column nowrap;
}

.page__section {
    position: relative;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 0;
}

.page__content {
    grid-area: content;
    margin: 0;
}

@media screen and (max-width:1100px) {
    .page__section {
        margin: 0 20px;
        max-width: calc(100% - 40px);
    }
}

@media screen and (max-width:620px) {
    .page {
        margin: auto;
        max-width: 282px;
    }

    .page__content {
        padding: 0;
    }

}