.profile {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.profile__info {
    display: grid;
    grid-template-areas: 
        "title button" 
        "description decription";
    grid-template-columns: minmax(auto, 373px) auto;
    grid-gap: 9px 17px;
    align-items: center;
    padding-left: 30px;
}
.profile__edit-button {
    background: transparent url(../images/editbutton.svg) center no-repeat;
    height: 24px;
    width: 24px;
    grid-area: button;
}
.profile__edit-button:hover {
    cursor: pointer;
    opacity: 50%;
  }

.profile__add-button {
    background: transparent url(../images/add-button.svg)center no-repeat;
    width: 150px;
    height: 50px;
    margin-left: auto;
    grid-area: button;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: 50%;
  }

.profile__name {
    font-size: 42px;
    color: #FFF;
    line-height: 1.2;
    font-weight: 500;
    grid-area: title;
    margin: 0;
    overflow: hidden;
}

.profile__subheading{
    font-size: 18px;
    color: #FFF;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
    padding: 0;
    grid-area: description;

}

.profile__avatar {
    height: 120px;
    width: 120px;
    object-fit: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 24px;
}

@media screen and (max-width:620px) {
    .profile {
        display:flex;
        flex-direction: column;
        align-content: center;
        width: 282px;
        height: 286px;
    }

    .profile__info {
        margin: 0;
        width: 100%;
        margin-left: 62px;
        margin-right: 62px;
        align-items: center;
    }

    .profile__avatar {
        width: 120px;
        height: 120px;
        margin: 0;
    }

    .profile__name {
        font-size: 22px;
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }

    .profile__subheading {
        width: 100%;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 36px;
    }

    .profile__edit-button {
        width: 18px;
        height: 18px;
        border-width: 1px;
        padding-left: 10px;
    }

    .profile__add-button {
        margin: 0;
        width: 282px;
        height: 50px;
        justify-content: center;
        border: 2px;

    }

}

@media screen and (max-width:890px) {
    .profile {
        display: flex;
        align-items: center;
        wrap: nowrap;
    }
}