.footer {
  box-sizing: border-box;
}

.footer__copy {
  font-weight: 400;
  font-size: 18px;
  color: #545454;
  margin: 0;
  line-height: 21.78px;
}

@media screen and (max-width: 890px) {
  .footer__copy {
    margin-left: auto;
  }
}

@media screen and (max-width: 620px) {
  .footer__copy {
    margin: 0;
    line-height: 16.94px;
    font-size: 14px;
  }
}
