.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description decription";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 9px 17px;
  align-items: center;
  padding-left: 30px;
}
.profile__edit-button {
  background: transparent url(../images/edit-sign.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #fff;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/plus-sign.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #fff;
  grid-area: button;
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__name {
  font-size: 42px;
  color: #fff;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 415px;
}

.profile__span-subheading {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  padding: 0;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 145px;
}

.profile__avatar {
  height: 120px;
  width: 120px;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 24px;
}

@media screen and (max-width: 775px) {
  .profile__name {
    font-size: 35px;
  }

  .profile__edit-button {
    margin-right: 60px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    padding-top: 42px;
    flex-direction: column;
    align-content: center;
  }

  .profile__info {
    margin: 0;
    justify-content: center;
    padding-top: 30px;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__name {
    font-size: 22px;
    line-height: 26.63px;
    text-align: center;
    max-width: 196px;
    margin: 0;
  }

  .profile__span-subheading {
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    padding-bottom: 36px;
    margin: auto;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
    justify-content: center;
  }
}
